.landing {
    background-image: url("../../../assets/images/courtney-corlew-190987-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 100%;
    text-align: center;
}

.inner-landing {
    padding-top: 215px;
}

.inner-landing h1 {
    color: navajowhite;
    font-weight: 900;
}

.btn {
    margin: 0px 10px 0px 10px;
}