  .login {
    background-image: url("../../../assets/images/courtney-corlew-190987-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .login-card {
    opacity: 0.6;
    background-color: black;
    color: #e8d5c2;
    width: 40%;
  }

  /deep/ .mat-form-field-label{
    color: #e8d5c2 !important;
  }

 /*Changes the underline colour before input is selected*/
  /deep/ .mat-form-field-underline {
    background-color: #e8d5c2 !important;
  }
  .login-header {
    text-align: center;
    display: block;
  }

  .login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .login-full-width {
    width: 100%;
  }

  .login-footer {
    text-align: center;
  }

.mat-card-actions {
  margin: 0px;
}
.mat-card-actions .btn {
   width: 100%;
    background-color: #e8d5c2;
    color: black;
    font-weight: 700;
}
  .register-form {
    min-width: 150px;
    max-width: 330px;
    width: 100%;
  }

  .mat-card p {
    color: red;
  }